*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul{
    list-style: none;
}
i{
    font-style:normal;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: none;
}
#loading{
    width:100%;
    height:100%;
    position: fixed;
    line-height:56px;
    color:#fff;
    padding-left:60px;
    font-size:15px;
    background: #ffffff url(../img/jiazai.gif) no-repeat 50% 30%;
    z-index:9999;
    -moz-border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
#myTabContent span{
    font-size: 12px;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}
.sousuo{
    background-color: #a3e4ff;
}
#sousuo1 input,.sousuo .input input{
    width:100%;
}
#sousuo1 .col-xs-2{
    padding-left: 0;
    padding-right: 0;
}
.sousuo img {
    margin: 20px 9px;
}
#sousuo a{
     font-size: 26px;top: 8px;left: 5px;color: #000000
 }
#sousuo a:hover{
    text-decoration:none
}
.sousuo .col-xs-8{
    padding: 20px 0px;
}
.sousuo .col-xs-2 .glyphicon{
    margin: 20px 0px;
}
.sousuo .form-control-feedback{
    line-height: 40px;
}
.sousuo input{
    height: 36px;
    border-radius: 16px;
    outline: none;
    padding-left: 28px;
}
.lunbo{
    width: 100%;
}
.width-100{
    width: 100% ;
    padding-top: 10px;
    height: 80px;
}
.width-100 .my-width-20{
    width:20%;
    float: left;
}
.width-100 .my-width-25{
    width:25%;
    float: left;
}
.my-img{
    width:53px;
    height: 48px;
    background-color: #ffffff;
    display: inline-block;
}
/*.my-b{*/
    /*background-color: #e4dddd;*/
/*}*/
.padding{
    padding: 0px;
}
.shuliang{
    display: inline-block;
    position: relative;
    float: left;
    line-height: 1.3333333;
    text-align: center;
    padding: 3px 8px;
}
.my-btn{
    display: inline-block;
    position: relative;
    float: left;
    line-height: 1.3333333;
    text-align: center;
    padding: 3px 8px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.tuijian ul{
    list-style: none;
}
.tuijian li{
    float: left;
}
.tuijian i{
    line-height: 22px;
}
.tuijian span{
    line-height: 36px;
}
.tuijian .jiage span{

    font-size: 14px;
}
.float-right input{
    background: none;
    box-shadow: none;
    color: #777;
    font-family: 'titilliumweb';
    float: left;
    font-size: 16px;
    height: 20px;
    line-height: 14px;
    padding: 0;
    text-align: center;
    width: 20px;
    margin: 0;
}
.footer .nav li{
    float: left;
}
.footer .nav li a{
    color:#000000;
    font-size: 12px;
}
.footer img{
    margin: 0 auto;
}
/*#active{*/
    /*color: #5ca556;*/
/*}*/
#search{
    /*display: none;*/
}
#sousuo1 .sousuo{
    background-color: #eeeeee;
}
#sousuo1 .resou h3{
    margin-left: 40px;
    font-size: 20px;
    color: #5ca556;
}
#sousuo1 .resou span{
    padding: 5px 10px;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #e5e5e5;
    border-radius: 8px;
}

.goods .my-container span{
    line-height: 36px;
}
.fukuanxiangqing .btn{
    margin: 10px 0;
}
.fukuanxiangqing .img-responsive{
    height: 100px;
}
.fukuanxiangqing .row{
    height: 120px;

    padding-top: 10px;
    padding-bottom: 10px;
}
.shopping{
    margin-bottom: 50px;
}
.shopping .width-10,.fukuanxiangqing .width-10{
    width: 10%;
    float: left;
    padding: 5px;
}
.shopping .width-30,.fukuanxiangqing .width-30{
    width: 30%;
    float: left;
    padding: 5px;
}
.shopping .width-60,.fukuanxiangqing .width-60{
    width: 60%;
    float: left;
    padding: 5px;
}
.fukuanxiangqing .shopping .img{
    width: 100px;
    height: 100px;
}
.fukuanxiangqing .shopping .item span{
    font-size: 14px;
}
.shangpinxiangqing .name,.shangpinxiangqing .state,.shangpinxiangqing .comment{
    margin-bottom: 2px;
    background-color: #FFFFFF;
    padding: 10px 15px 0 15px;
}
.shangpinxiangqing .row{
    background-color: #FFFFFF;
    padding: 0px 15px 0 15px;
}
.shangpinxiangqing .price{
    color: red;
}
.shangpinxiangqing .cost{
    color: green;
}
.shangpinxiangqing .note{
    height: 30px;
}
.shangpinxiangqing .note .span-left{
     float: left;
}
.shangpinxiangqing .note .span-right{
    float: right;
}
.shangpinxiangqing .row .col-xs-2,.shangpinxiangqing .row .col-xs-10{
    padding: 10px 2px;
    height: 70px;
}
.shangpinxiangqing .row .date img{
    width:30px;
    height: 30px;
}
.shangpinxiangqing .state{
    height: 30px;
}
.shangpinxiangqing .state .text-left,.shangpinxiangqing .state .text-center,.shangpinxiangqing .state .text-right{
    font-size: 12px;
    float: left;
}
.shangpinxiangqing .state .text-left{
     width:25%;
 }
.shangpinxiangqing .state .text-center{
    width:35%;
}
.shangpinxiangqing .state .text-right{
    width:40%;
}
.shangpinxiangqing .state img,.shangpinxiangqing .state img,.shangpinxiangqing .state img{
    width: 14px;
    height: 14px;
}
.shangpinxiangqing .footer1{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
}
.shangpinxiangqing .footer1 p{
    margin: 0;
}
.shangpinxiangqing .footer1 .btn{
    border-radius: 0;
    padding: 16px 12px;
}
.shangpinxiangqing .footer1 a{
    color: #000000;
}
.shangpinxiangqing .footer1 a:hover{
    text-decoration:none;
}
.shangpinxiangqing .introduce{
    margin-bottom: 56px;
}
.shangpinxiangqing .comment{
    position: relative;
}
.shangpinxiangqing .comment .haopinglv{
    position: absolute;
    right: 0;
    top: 20px;
}
.shangpinxiangqing .comment .text-center{
    padding-bottom: 10px;
}
.comment-list .comment .user{
    padding-top: 10px;
}
.shangpinxiangqing .comment .user ,.shangpinxiangqing .comment .star,.comment-list .comment .user,.comment-list .comment .star{
     height: 42px;
 }
.shangpinxiangqing .comment .user .glyphicon ,.shangpinxiangqing .comment .star .glyphicon,.comment-list .comment .user .glyphicon,.comment-list .comment .star .glyphicon{
    color: #ffa200;
}
.star ul li{
    float: left;
}


.shangpinxiangqing .comment .tu,.comment-list .comment .tu{
    width: 30px;
    height: 30px;
}
.shangpinxiangqing .comment .tu img,.comment-list .comment .tu img{
    width: 30px;
    height: 30px;
}
.shangpinxiangqing .comment .user span,.comment-list .comment .user span{
    line-height: 30px;
    padding-left: 4px;
}
.modal-body p{
    text-align: left;
    font-weight: 500;
    margin: 0;
    padding-left: 30px;
}
.modal-body img{
    position: absolute;
    left: 0;
    width: 25px;
}
.my-red{
    color: red;
}
.my-green{
    color: green;
}
.comment-list{
    background-color: #e5e5e5;
}
.comment-list .keywords{
    padding: 10px 30px;
}
.comment-list .comment{
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
.comment-list .keywords i,.comment-list .keywords span{
    display: inline-block;
    padding: 6px 12px;
    border-radius: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 6px;
}
.comment-list .keywords i{
    background-color: #ff6000;
}
.comment-list .keywords span{
    background-color: #ffa200;
}

.order .nav{
    background-color: #FFFFFF;
}
.order .daifu .dindanid{
    background-color: #FFFFFF;
    height: 30px;
    width:100%;
    padding: 0 20px;
    line-height: 30px;
}
.order .daifu .col-xs-8 span{
    padding-left: 60%;line-height: 30px;
}
.order .daifu .heji{
    background-color: #FFFFFF;
    line-height: 30px;
    height: 30px;
    margin-bottom: 2px;
}
.order .daifu .dai{
    background-color: #FFFFFF;
    line-height: 36px;
    height: 36px;
}
.order .daifu .dai .btn{
    width: 80px;
    padding: 3px 0;
    margin: 4px 0 4px 12px;
}
.order .tab-content li{
    display: block;
    width:100%;
    margin-bottom: 10px;
}
.order-details .state{
    background-color: #ff7800;
}
.order-details .state span{
    display: inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
}
.order-details .daifukuan span{
    display: inline-block;
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
}
.order-details .row{
    padding: 10px 0;
    background-color: #FFFFFF;
    margin-bottom: 3px;
 }
.order-details .row .col-xs-4 img{
    width: 95px;
}
.order-details .row .col-xs-12 i{
    font-size: 18px;
}
.order-details .row .col-xs-12 span{
    font-size: 14px;
    line-height: 26px;
}
.order-details .row .my-red{
    margin-top: 10%;
}
.order-details .row .my-red span{
    line-height: 18px;
}
.order-details .order-id{
    padding: 6px 15px;
    background-color: #FFFFFF;
}
.order-details .text-center .btn{
    margin: 20px 0;
}
.order-details .btn a{
    color: #FFFFFF;
}
.order-details .btn a:hover{
    text-decoration: none;
}
.order-details .order-btn{
    position: fixed;
    bottom: 0;
    width:100%;
    background-color: #e5e5e5;
}
.order-details .order-btn ul{
    height: 46px;
    list-style: none;
    border-top: 1px solid #a0a0a0;
    padding-top: 10px;;
    padding-bottom: 10px;
}
.order-details .order-btn li{
    float: right;
    margin-left: 10px;
}
.order-details .modal-footer .btn,.order .modal-footer .btn{
    width: 49%;
    float: left;
}
.order-details .modal-content,.order .modal-content{
    width: 100%;
    position: fixed;
    top: 200px;
}
.add-comment .title{
    width:100%;
    background-color: #FFFFFF;
    line-height: 42px;
    padding-left: 20px;
}
.inp input{
    width:100%;
    height: 42px;
    border: 0;
    padding-left: 20px;
}
.add-comment .text-center{
    width:100%;
    padding: 20px;
}
#myTab li{
    width:100%;
    height: 40px;
    text-align: center;
}
#myTab li a{
    display: inline-block;
    padding: 10px 0;
    width:100%;
    text-decoration: none;
}
#myTab a{
    color: #000000;
}
#myTab .active a{
    /*border: 0;*/
    color: #ff9933;
    background-color: #e5e5e5;

}