@charset "utf-8";
/* CSS Document */
#login{
    width: 300px;
    height:300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
    z-index: 2;
    background: #fff;
    border: 1px solid black;
    text-align: center;
    line-height: 100px;
    box-shadow:10px 10px 15px #ccc;
    display: none;
}




body{ font-family:'微软雅黑';}
.header{ background: #333; height: 36px;border-bottom: 1px solid #dfdfdf;}
.header div ul{ padding-top: 12px;}
.header div ul li{ float: left; border-left: 1px solid #dfdfdf; height: 12px; line-height: 12px; padding:0 13px;}
.header div ul .no{ border-left: none;}
.header div ul li a{ color: #b0b0b0; font-size: 12px;}
.header div ul li a:hover{ color: #fff;}
/* 以上是头部 */

.search h1{ margin-top: 26px;}
.search{ margin-bottom:15px;}
.search .search-r{ width: 560px;}
.search .search-r span{ font-size: 12px; padding-left: 22px; background: url(../images/icon1.png) no-repeat; height: 16px; line-height: 16px; margin-top: 22px;}
.search .search-r span a{ color: #a1a1a1;}
.search .search-r .search-top{ width:369px; height:38px; font-size:14px; margin-top:54px; padding-left:14px;}
.search .search-r input{ border:1px solid #dfdfdf; border-right:none;}
.search .search-r i{ width:38px; height:38px; border:1px solid #dfdfdf; margin-top:16px;}
.search .search-r i a{ display:block; padding:12px;}
.search .search-r .car{ width:92px; height:40px; background:#ffdb3d; margin-top:16px; margin-left:10px; font-size:14px; line-height:40px; padding-left:34px;}
.search .search-r .car a{ color:#333; background:url(../images/icon2.png) no-repeat left; padding-left:17px;}
.search .artist{ padding-top:26px;}
/* 以上是搜索栏和logo */

.nav-left h2{ width:228px; height:50px; background:#ff4a00; font-size:18px; color:#fff; font-weight:normal; line-height:50px; padding-left:20px;}
.nav-left div{ width:226px; height:55px; border:1px solid #dfdfdf; border-top:none; padding:18px 0 0 20px;}
.nav-left div i{ font-style:normal; font-size:14px; color:#ff4a00;}
.nav-left div ul{ margin-top:6px;}
.nav-left div ul li{ float:left; margin-right:7px;}
.nav-left div ul li a{ font-size:14px; color:#6d6d6d;}
.nav-right .nav-right-t{ width:682px; height:50px; background:#404144;}
.nav-right .nav-right-t li{ float:left; margin:14px 11px;}
.nav-right .nav-right-t li a{ color:#fff; font-size:16px;}
.nav-right .banner{ position:relative;}
.nav-right .banner ul{ position:absolute; right:0; bottom:15px;}
.nav-right .banner ul li{ width:28px; height:18px; float:left; position:relative; margin-right:10px;}
.nav-right .banner ul li .icon-bg{ width:28px; height:18px; border:1px solid #fff; background:#000; opacity:0.3;filter:alpha(opacity:30); position:absolute;}
.nav-right .banner ul li a{ position:absolute; z-index:3; color:#fff; display:block; width:100%; height:100%; text-align:center;}
.nav-right .banner-b li{ float:left; width:227px; height:148px; padding-top:24px; text-align:center;}
.nav-right .banner-b li a h2{ font-size:16.5px; color:#000;}
.nav-right .banner-b li a span{font-size:12.5px; color:#6c6c6c;}
.nav-right .banner-b .banner-b1{ background:url(../images/banner1.jpg) no-repeat; border-right:1px solid #dfdfdf;}
.nav-right .banner-b .banner-b2{ background:url(../images/banner2.jpg) no-repeat;}
.nav-right .banner-b .banner-b3{ background:url(../images/banner3.jpg) no-repeat;}

/*以上是banner*/

.head{ height:34px; padding-top:26px;}
.head .head-l h2{ font-size:18px; color:#333; font-weight:normal;}
.head .head-l span{ font-size:14px; color:#6d6d6d; margin-top:2px; margin-left:12px;}
.head .head-r .left{ background:url(../images/icon3.png) no-repeat 10px;; width:28px; height:18px; border:1px solid #dfdfdf;}
.head .head-r .right{ background:url(../images/icon4.png) no-repeat 10px;; width:28px; height:18px; border:1px solid #dfdfdf; border-left:none;}
.head .head-r .font{ font-size:14px; color:#333;}
.star{ width:928px; height:308px; border:1px solid #dfdfdf;}
.star ul li{ width:309px; height:308px; border-right:1px solid #dfdfdf; text-align:center; float:left;}
.star ul .no{ border-right:none; width:307px;}
.star ul li .img1{ margin:30px 61px 33px 81px;}
.star ul li .img2{ margin:91px 60px 74px 57px;}
.star ul li .img3{ margin:46px 67px 42px 55px;}
.star ul li a{ font-size:17px; color:#000;}
.star ul li span{ font-size:12px; color:#8c8c8c;}

.new{ width:930px; height:929px;}
.new .new-l{ width:621px; height:929px;}
.new .new-l ul li{ float:left;}
.new .new-l ul .iheaIth{ background:url(../images/iHealth1.jpg) no-repeat; width:595px; height:247px; padding-left:26px; padding-top:65px; line-height:30px;}
.new .new-l ul .iheaIth a{ font-size:35px; color:#353535;}
.new .new-l ul .iheaIth span{ font-size:14px; color:#6a6a6a;}
.new .new-l ul .iheaIth b{ font-size:24px; color:#353535; font-weight:normal;}

.new .new-l ul .hoodies{ width:281px; height:280px; background:url(../images/Hoodies1.jpg) no-repeat; padding:30px 0 0 30px;}
.new .new-l ul .hoodies a{ font-size:14px; color:#000;}
.new .new-l ul .hoodies span{ font-size:14px; color:#000;}
.new .new-l ul .hoodies b{ font-size:14px; color:#8c8c8c; font-weight:normal; text-decoration:line-through;}

.new .new-l ul .headset{ width:280px; height:124px; background:url(../images/headset1.jpg) no-repeat; padding:30px 0 0 30px;}
.new .new-l ul .headset a{ font-size:14px; color:#000;}
.new .new-l ul .headset span{ font-size:14px; color:#000;}

.new .new-l ul .lens{ width:280px; height:126px; background:url(../images/lens1.jpg) no-repeat; padding:30px 0 0 30px;}
.new .new-l ul .lens a{ font-size:14px; color:#000;}
.new .new-l ul .lens span{ font-size:14px; color:#000;}

.new .new-l ul .triangle{ width:281px; height:280px; background:url(../images/triangle1.jpg) no-repeat; padding:30px 0 0 30px;}
.new .new-l ul .triangle a{ font-size:14px; color:#000;}
.new .new-l ul .triangle span{ font-size:14px; color:#000;}

.new .new-l ul .cover{ width:280px; height:280px; background:url(../images/cover1.jpg) no-repeat; padding:30px 0 0 30px;}
.new .new-l ul .cover a{ font-size:14px; color:#000;}
.new .new-l ul .cover span{ font-size:14px; color:#000;}

.new .new-r{ width:309px; height:929px;}
.new .new-r ul li{ float:left;}
.new .new-r ul .bargain{ background:url(../images/bargain1.jpg) no-repeat; width:279px; height:95px; padding:35px 0 0 30px;}
.new .new-r ul .bargain a{ font-size:18px; color:#222;}
.new .new-r ul .bargain span{ font-size:14px; color:#f32f39;}
.new .new-r ul .bargain b{ font-size:14px; color:#6d6d6d; font-weight:normal; text-decoration:line-through;}
.new .new-r ul .bargain i{ font-size:12px; color:#6d6d6d; font-style:normal;}

.new .new-r ul .preferential{ background:url(../images/preferential1.jpg) no-repeat; width:279px; height:92px; padding:35px 0 0 30px;}
.new .new-r ul .preferential a{ font-size:18px; color:#222;}
.new .new-r ul .preferential b{ font-size:12px; color:#6d6d6d; font-weight:normal;}
.new .new-r ul .preferential i{ font-size:12px; color:#6d6d6d; font-style:normal;}

.new .new-r ul .coldplay{ background:url(../images/coldplay1.jpg) no-repeat; width:279px; height:93px; padding:35px 0 0 30px;}
.new .new-r ul .coldplay a{ font-size:18px; color:#222;}
.new .new-r ul .coldplay b{ font-size:12px; color:#6d6d6d; font-weight:normal;}
.new .new-r ul .coldplay i{ font-size:12px; color:#6d6d6d; font-style:normal;}

.new .new-r .recharge{ width:278px; height:249px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#fafafa; padding:30px 0 0 30px;}
.new .new-r .recharge h2{ font-size:18px; color:#333; font-weight:normal; margin-bottom:15px;}
.new .new-r .recharge .phone{ width:231px; height:38px; border:1px solid #dfdfdf; padding-left:15px; font-size:16px; margin-bottom
:10px;}
.new .new-r .recharge select{ width:246px; height:38px; border:1px solid #dfdfdf; padding-left:15px; font-size:16px;}
.new .new-r .recharge span{ font-size:16px; color:#6d6d6d; margin:20px 0;}
.new .new-r .recharge .submit{ width:248px; height:40px;font-size:16px; color:#fff; background:#dcdee4; border:none;}
.new .new-r .recharge .submit:active{ color:#333;}

.new .new-r .journalism{ height:236px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; background:#fafafa; padding:30px 0 0 30px;}
.new .new-r .journalism h2{ font-size:18px; color:#333; font-weight:normal;}
.new .new-r .journalism ul li{ width:248px; height:47px; line-height:47px; border-bottom:1px solid #dfdfdf; background:url(../images/icon2.jpg) no-repeat right;}
.new .new-r .journalism ul .no{ border-bottom:none;}
.new .new-r .journalism ul li a{ font-size:14px; color:#333; background:url(../images/icon1.jpg) no-repeat 6px; padding-left:18px;}


.everybody-l{ width:621px; height:621px;}
.everybody-l ul li{ float:left;}
.everybody-l ul .shirt{ background:url(../images/Hoodies2.jpg) no-repeat; width:595px; height:247px; padding-left:26px; padding-top:65px; line-height:30px;}
.everybody-l ul .shirt a{ font-size:35px; color:#353535;}
.everybody-l ul .shirt span{ font-size:14px; color:#6a6a6a;}
.everybody-l ul .shirt b{ font-size:24px; color:#353535; font-weight:normal;}

.everybody-l ul .se{ width:281px; height:281px; background:url(../images/headset2.jpg) no-repeat; padding:30px 0 0 30px;}
.everybody-l ul .se a{ font-size:14px; color:#000;}
.everybody-l ul .se b{ font-size:14px; color:#000; font-weight:normal;}

.everybody-l ul .headset{ width:280px; height:281px; background:url(../images/cover2.jpg) no-repeat; padding:30px 0 0 30px;}
.everybody-l ul .headset a{ font-size:14px; color:#000;}
.everybody-l ul .headset span{ font-size:14px; color:#000;}

.everybody-r{ width:309px; height:621px; margin-top:1px;}
.everybody-r ul li{ width:307px; height:101px; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; float:left;}
.everybody-r ul .bz{ height:105px;}
.everybody-r ul li h3{ font-size:38px; font-weight:normal; color:#ff4a00; margin:34px 21px 29px 35px; display:block; line-height:100%;}
.everybody-r ul li .h{ color:#6d6d6d;}
.everybody-r ul li div{ margin-top:35px;}
.everybody-r ul li div a{ font-size:14px; color:#333;}
.everybody-r ul li div span{ font-size:14px; color:#333;}
.everybody-r ul li .supply{ margin:20px 47px 0 0;}
.everybody-r ul li .key{ margin:22px 55px 0 0;}
.everybody-r ul li .bracket{ margin:25px 49px 0 0;}
.everybody-r ul li .key{ margin:22px 55px 0 0;}
.everybody-r ul li .octopus{ margin:26px 36px 0 0;}
.everybody-r ul .top{ width:307px; height:101px; border:1px solid #dfdfdf; border-left:none; line-height:101px; text-align:center;}
.everybody-r ul .top h2{ font-size:25px; font-weight:normal; color:#000;}
.everybody-r ul .top h2 span{ color:#ff4a00;}

.review ul li{ width:308px; height:410px; border:1px solid #dfdfdf; float:left;}
.review ul li .top{ padding-top:33px; margin-left:30px; width:309px;}
.review ul li .top a{ font-size:14px; color:#333;}
.review ul li .top img{ margin-top:3px; margin-right:10px;}
.review ul li .top span{ font-size:12px; color:#8c8c8c;}
.review ul li .top b{ font-size:14px; color:#333; font-weight:normal;}
.review ul li .sky{ margin-top:50px; margin-left:112px;}
.review ul li .bottom{ width:251px; height:42px; font-size:12px; color:#6d6d6d; background:url(../images/frame.png) no-repeat; margin-left:10px; margin-top:10px; padding:20px 23px 0 15px;}
.review ul .no1{ border-left:none; width:309px;}
.review ul .no1 .sky{ margin-top:70px; margin-left:63px;}
.review ul .no2{ border-left:none; width:309px;}
.review ul .no2 .sky{ margin-top:77px; margin-left:64px; margin-bottom:6px;}

.product ul li{ float:left; width:308px; height:309px; border:1px solid #dfdfdf;}
.product ul .no{ border-left:none; width:309px;}
.product ul li span{ padding:3px 20px; background:#f32f39; color:#fff; font-size:12px; margin-right:24px;}
.product ul li div{ margin:33px 0 0 30px;}
.product ul li div a{ color:#000; font-size:14px;}
.product ul li div i{ color:#000; font-size:14px; font-style:normal;}
.product ul li div em{ color:#8c8c8c; font-size:14px; font-style:normal; text-decoration:line-through; margin-left:5px;}
.product ul li .storage{ margin:74px 0 0 85px;}
.product ul li .suit{ margin:58px 0 0 73px;}
.product ul li .battery{ margin:40px 0 0 64px;}

.books .books-one li{ width:308px; height:377px; border:1px solid #dfdfdf; padding-top:33px; float:left;}
.books .books-one{ margin-bottom:65px;}
.books .books-one .no{ border-left:none; width:309px;}
.books .books-one li .top{ margin-left:28px;}
.books .books-one li .top a{ font-size:14px; color:#333;}
.books .books-one li .top span{ font-size:12px; color:#333;}
.books .books-one li .top b{ font-size:14px; color:#333; font-weight:normal;}
.books .books-one li .bottom{ width:251px; height:42px; font-size:12px; color:#6d6d6d; background:url(../images/frame.png) no-repeat; margin-left:10px; margin-top:10px; padding:20px 23px 0 15px;}
.books .books-one li .participation{ margin:43px 0 0 82px;}

.books .books-two li{ width:278px; height:302px; border:1px solid #dfdfdf; padding-top:33px; padding-left:30px; float:left;}
.books .books-two .no{ border-left:none; width:279px;}
.books .books-two li div a{ font-size:14px; color:#333;}
.books .books-two li div span{ font-size:14px; color:#333;}
.books .books-two li div{ margin-bottom:20px;}

footer{ background:#fafafa; height:534px; margin-top:65px;}
footer .top{ border-bottom:1px solid #dfdfdf; height:107px; padding-top:47px;}
footer .top ul li{ float:left; margin:0 44px;}
footer .top ul li img{ margin-left:30px; margin-bottom:15px;}
footer .top ul li a{ font-size:14px; color:#000;}
footer .top ul .retreat{ padding-top:4px;}
footer .top ul .dot{ padding-top:9px;}

footer .mid{ border-bottom:1px solid #dfdfdf; height:158px; padding-top:40px;}
footer .mid ul{ height:118px; width:129px; padding-left:20px; border-right:1px solid #dfdfdf;}
footer .mid ul li{ margin-bottom:8px;}
footer .mid ul li h2{ line-height:100%; display:block;}
footer .mid ul li h2 a{ color:#3c3c3c; font-size:16px; font-weight:normal;}
footer .mid ul li a{ color:#3c3c3c; font-size:14px; font-weight:normal;}

footer .mid div{ text-align:center;}
footer .mid div h2{ font-size:24px; color:#000;}
footer .mid div i{ font-size:14px; color:#6d6d6d; font-style:normal;}
footer .mid div span{ font-size:12px; color:#fff; width:120px; height:30px; line-height:30px; text-align:center; background:#ff4a00; margin:15px 0 0 35px;}

footer .bottom{ padding-top:35px;}
footer .bottom .left ul li{ float:left; font-size:14px; color:#383838;}
footer .bottom .left ul li a{ color:#383838;}
footer .bottom .left span{ font-size:14px; color:#383838;}
footer .bottom .left img{ margin-top:20px;}

footer .bottom .right{ margin-top:-40px;}
footer .bottom .right select{ width:188px; height:38px; padding-left:10px; color:#af9dc1; border:1px solid #dfdfdf;}
footer .bottom .right select:hover{ color:#333;}