.my-points{
	width: 10.38rem;
	height: .53rem;
	padding: .19rem 0 .32rem .42rem;
	font-size: .37rem;
}
.my-points i{
	display: block;
	width: .49rem;
	height: .53rem;
	background: url(../images/积分商城--72_01.png) no-repeat;
	background-size: .49rem .53rem;
	margin-right: .26rem;
}
.task{
	width: 10.38rem;
	height: 1.21rem;
	line-height: 1.21rem;
	padding-left: .42rem;
	font-size: .37rem;
	background: #eee;
}
.task-b{
	width: 10.8rem;
	height: 2.01rem;
	padding: .76rem 0 .72rem 0;
}
.task-b li{
	float: left;
	font-size: .28rem;
	margin: 0 1.05rem;
}
.task-b li .qd{
	width: 1.05rem;
	height: .91rem;
	margin-bottom: .29rem;
	margin-left: .14rem;
	
}
.task-b li div i{
	display: inline-block;
	width: .21rem;
	height: .23rem;
	background: url(../images/积分商城--72_01.png) no-repeat;
	background-size: .21rem .23rem;
	margin: 0 .15rem 0 .31rem;
}
.task-b li div span{
	font-size: .28rem;
}
.lntegral-rule{
	padding: .43rem 0 0 .42rem;
	font-size: .38rem;
	background: #eee;
	width: 10.38rem;
	height: 10.85rem;
}
