.swiper-container{
    margin-bottom: .43rem;
}
.swiper-container .swiper-wrapper #li img{
    width:10.8rem;
}
.swiper-slide{
    height: 10.8rem;
    line-height: 9rem;
    color: #fff;
    text-align: center;
}
.the-dishes{
    margin:0 auto .17rem;
    width: 2.87rem;
    padding: .09rem 0;
    height: .83rem;
    border:.02rem solid #a0a0a0;
    border-left:none;
    border-right:none;
    color: #616161;
}
.the-dishes-n{
    width: 2.01rem;
    height:.83rem;
    line-height: .83rem;
    padding: 0 .43rem;
    font-size: .48rem;
    border:.02rem solid #a0a0a0;
    border-left:none;
    border-right:none;
}
.introduce{
    width:8.68rem;
    height:5.85rem;
    padding-top: .23rem;
    line-height: .49rem;
    margin-left:1.07rem;
    font-size:.27rem;
    color: #616161;
    border-top:.02rem solid #818181;
}
.the-dishes-b{
    width: 10.8rem;
    height: 7.35rem;
    margin-bottom: .58rem;
}
#purchase{
    width: 8.69rem;
    height: .69rem;
    background: #e02e24;
    border-radius: .1rem;
    font-size: .3rem;
    text-align: center;
    line-height: .69rem;
    margin-left: 1.07rem;
}
#purchase a{
    display: block;
    width: 100%;
    height: 100%;
    color: #ffffff;
}