<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>我的订单</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/css.css">
    <script src="../js/iscroll.js"></script>
    <style>
        #myTab a{
            color: #000000;
            padding: 10px 0;
            border: 0;
            margin-right: 0;
        }
        #myTab .active a{
            border: 0;
            border-bottom: 3px solid #ff8315;
            color: #ff8315;
        }
        #myTab li {
            width:20%;
            text-align: center;
        }
        #myTabContent span{
            font-size: 14px;
        }

        body,ul,li {
            padding:0;
            margin:0;
            border:0;
        }
        </style>
</head>
<body style="background-color: #EEEEEE">
<div id="loading"></div>
<!--<div class="text-center" style="height: 54px;background-color: #5ca556;position: relative">-->
    <!--<span class="glyphicon glyphicon-chevron-left"  style="font-size: 26px;position: absolute;left: 10px;line-height: 54px;color: #ffffff" onclick="javascript:history.back(-1)";></span>-->
    <!--<span style="line-height: 54px;font-size: 20px;color: #ffffff">我的订单</span>-->
<!--</div>-->
<div class="order">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#quanbu" data-toggle="tab">全部</a></li>
        <li><a href="#daifukuan" data-toggle="tab">待付款</a></li>
        <li><a href="#daifahuo" data-toggle="tab">待发货</a></li>
        <li><a href="#daishouhuo" data-toggle="tab">待收货</a></li>
        <li><a href="#daipingjia" data-toggle="tab">待评价</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="quanbu">
            <div class="id">
                <div class="daifu">
                    <ul style="margin-bottom: 50px">
                        <li v-for="row in arr">
                            <div v-for="row1 in row">
                                <div v-for="item in row1" style="margin-bottom: 10px">
                                    <div class="dindanid">
                                        <div class="float-left">
                                            <span>订单号：{{ item.order_num }}</span>
                                        </div>
                                        <div class="float-right">
                                            <span class="my-red" style="color: #ff8315">{{ getStatus(item.order_status) }}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div @click="jump1(item.order_id)">
                                            <div class="col-xs-4">
                                                <div>
                                                    <img :src="item.commodity_coverimg" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                            <div class="col-xs-8">
                                                <h5 class="col-xs-12 text-left">{{ item.commodity_name }}</h5>
                                                <span>单价：{{ item.order_price }}</span>
                                                <span>数量：{{ item.order_buyNumber }}</span>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 heji">
                                            <span class="float-right" style="line-height: 30px">总计：{{ '&yen;' + accMul(item.order_price,item.order_buyNumber) }}元</span>
                                        </div>
                                        <div class="col-xs-12 dai">
                                            <a :href="'add-comment.html?commodityId='+item.commodity_id+'&deliveryId='+item.delivery_id+'&orderId='+item.order_id">
                                                <span class="btn btn-warning float-right" v-if="item.order_status === 5">去评价</span>
                                            </a>
                                            <a href="tel:15028864581"><span class="btn btn-warning float-right" v-if="item.order_status === 2|| item.order_status === 3||item.order_status === 4">联系客服</span></a>
                                            <span class="btn btn-warning float-right" v-if="item.order_status === 1">付款</span>
                                            <span class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal" v-if="item.order_status === 1" @click="delete1(item.order_id)">取消订单</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center" id="my-null">
                        <h5>您还没有此类账单</h5>
                        <h6>赶紧去购买商品吧</h6>
                        <a href="../goods/class1.html">
                            <div class="btn btn-success" style="display: inline-block">去购物</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="jiazai" class="btn btn-primary btn-block">加载更多数据</div>
            <h6 id="jiazai1" class="text-center">已加载全部数据</h6>
        </div>
        <div class="tab-pane fade" id="daifukuan">
            <div class="daifu">
                <ul style="margin-bottom: 50px">
                    <li v-for="row in arr1">
                        <div v-for="row1 in row">
                            <div v-for="item in row1" style="margin-bottom: 10px">
                                <div class="dindanid">
                                    <div class="float-left">
                                        <span>订单号：{{ item.order_num }}</span>
                                    </div>
                                    <div class="float-right">
                                        <span class="my-red" style="color: #ff8315">{{ getStatus(item.order_status) }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div @click="jump(item.order_id)">
                                        <div class="col-xs-4">
                                            <div>
                                                <img :src="item.commodity_coverimg" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <h5 class="col-xs-12 text-left">{{ item.commodity_name }}</h5>
                                            <span>单价：{{ item.order_price }}</span>
                                            <span>数量：{{ item.order_buyNumber }}</span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 heji">
                                        <span class="float-right" style="line-height: 30px">总计：{{ '&yen;' + accMul(item.order_price,item.order_buyNumber) }}元</span>
                                    </div>
                                    <div class="col-xs-12 dai">
                                        <a :href="'add-comment.html?commodityId='+item.commodity_id+'&deliveryId='+item.delivery_id+'&orderId='+item.order_id">
                                            <span class="btn btn-warning float-right" v-if="item.order_status === 5">去评价</span>
                                        </a>
                                        <a href="tel:15028864581"><span class="btn btn-warning float-right" v-if="item.order_status === 2|| item.order_status === 3||item.order_status === 4">联系客服</span></a>
                                        <span class="btn btn-warning float-right" v-if="item.order_status === 1">付款</span>
                                        <span class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal" v-if="item.order_status === 1" @click="delete1(item.order_id)">取消订单</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center" id="my-null1">
                    <h5>您还没有此类账单</h5>
                    <h6>赶紧去购买商品吧</h6>
                    <a href="../goods/class1.html">
                        <div class="btn btn-success" style="display: inline-block">去购物</div>
                    </a>
                </div>
            </div>
            <div id="jiazai2" class="btn btn-primary btn-block">加载更多数据</div>
            <h6 id="jiazai12" class="text-center">已加载全部数据</h6>
        </div>
        <div class="tab-pane fade" id="daifahuo">
            <div class="daifu">
                <ul style="margin-bottom: 50px">
                    <li v-for="row in arr2">
                        <div v-for="row1 in row">
                            <div v-for="item in row1" style="margin-bottom: 10px">
                                <div class="dindanid">
                                    <div class="float-left">
                                        <span>订单号：{{ item.order_num }}</span>
                                    </div>
                                    <div class="float-right">
                                        <span class="my-red" style="color: #ff8315">{{ getStatus(item.order_status) }}</span>
                                    </div>
                                </div>
                                <div @click="jump(item.order_id)">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div>
                                                <img :src="item.commodity_coverimg" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <h5 class="col-xs-12 text-left">{{ item.commodity_name }}</h5>
                                            <span>单价：{{ item.order_price }}</span>
                                            <span>数量：{{ item.order_buyNumber }}</span>
                                        </div>
                                        <div class="col-xs-12 heji">
                                            <span class="float-right" style="line-height: 30px">总计：{{ '&yen;' + accMul(item.order_price,item.order_buyNumber) }}元</span>
                                        </div>
                                        <div class="col-xs-12 dai">
                                            <a :href="'add-comment.html?commodityId='+item.commodity_id+'&deliveryId='+item.delivery_id+'&orderId='+item.order_id">
                                                <span class="btn btn-warning float-right" v-if="item.order_status === 5">去评价</span>
                                            </a>
                                            <a href="tel:15028864581"><span class="btn btn-warning float-right" v-if="item.order_status === 2|| item.order_status === 3||item.order_status === 4">联系客服</span></a>
                                            <span class="btn btn-warning float-right" v-if="item.order_status === 1">付款</span>
                                            <span class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal" v-if="item.order_status === 1">取消订单</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center" id="my-null2">
                    <h5>您还没有此类账单</h5>
                    <h6>赶紧去购买商品吧</h6>
                    <a href="../goods/class1.html">
                        <div class="btn btn-success" style="display: inline-block">去购物</div>
                    </a>
                </div>
            </div>
            <div id="jiazai3" class="btn btn-primary btn-block">加载更多数据</div>
            <h6 id="jiazai13" class="text-center">已加载全部数据</h6>
        </div>
        <div class="tab-pane fade" id="daishouhuo">
            <div class="daifu">
                <ul style="margin-bottom: 50px">
                    <li v-for="row in arr3">
                        <div v-for="row1 in row">
                            <div v-for="item in row1" style="margin-bottom: 10px">
                                <div class="dindanid">
                                    <div class="float-left">
                                        <span>订单号：{{ item.order_num }}</span>
                                    </div>
                                    <div class="float-right">
                                        <span class="my-red" style="color: #ff8315">{{ getStatus(item.order_status) }}</span>
                                    </div>
                                </div>
                                <div @click="jump(item.order_id)">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div>
                                                <img :src="item.commodity_coverimg" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <h5 class="col-xs-12 text-left">{{ item.commodity_name }}</h5>
                                            <span>单价：{{ item.order_price }}</span>
                                            <span>数量：{{ item.order_buyNumber }}</span>
                                        </div>
                                        <div class="col-xs-12 heji">
                                            <span class="float-right" style="line-height: 30px">总计：{{ '&yen;' + accMul(item.order_price,item.order_buyNumber) }}元</span>
                                        </div>
                                        <div class="col-xs-12 dai">
                                            <a :href="'add-comment.html?commodityId='+item.commodity_id+'&deliveryId='+item.delivery_id+'&orderId='+item.order_id">
                                                <span class="btn btn-warning float-right" v-if="item.order_status === 5">去评价</span>
                                            </a>
                                            <a href="tel:15028864581"><span class="btn btn-warning float-right" v-if="item.order_status === 2|| item.order_status === 3||item.order_status === 4">联系客服</span></a>
                                            <span class="btn btn-warning float-right" v-if="item.order_status === 1">付款</span>
                                            <span class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal" v-if="item.order_status === 1" @click="delete1(item.order_id)">取消订单</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center" id="my-null3">
                    <h5>您还没有此类账单</h5>
                    <h6>赶紧去购买商品吧</h6>
                    <a href="../goods/class1.html">
                        <div class="btn btn-success" style="display: inline-block">去购物</div>
                    </a>
                </div>
            </div>
            <div id="jiazai4" class="btn btn-primary btn-block">加载更多数据</div>
            <h6 id="jiazai14" class="text-center">已加载全部数据</h6>
        </div>
        <div class="tab-pane fade" id="daipingjia">
            <div class="daifu">
                <ul style="margin-bottom: 50px">
                    <li v-for="row in arr4">
                        <div v-for="row1 in row">
                            <div v-for="item in row1" style="margin-bottom: 10px">
                                <div class="dindanid">
                                    <div class="float-left">
                                        <span>订单号：{{ item.order_num }}</span>
                                    </div>
                                    <div class="float-right">
                                        <span class="my-red" style="color: #ff8315">{{ getStatus(item.order_status) }}</span>
                                    </div>
                                </div>
                                <div @click="jump(item.order_id)">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div>
                                                <img :src="item.commodity_coverimg" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-xs-8">
                                            <h5 class="col-xs-12 text-left">{{ item.commodity_name }}</h5>
                                            <span>单价：{{ item.order_price }}</span>
                                            <span>数量：{{ item.order_buyNumber }}</span>
                                        </div>
                                        <div class="col-xs-12 heji">
                                            <span class="float-right" style="line-height: 30px">总计：{{ '&yen;' + accMul(item.order_price,item.order_buyNumber) }}元</span>
                                        </div>
                                        <div class="col-xs-12 dai">
                                            <a :href="'add-comment.html?commodityId='+item.commodity_id+'&deliveryId='+item.delivery_id+'&orderId='+item.order_id">
                                                <span class="btn btn-warning float-right" v-if="item.order_status === 5">去评价</span>
                                            </a>
                                            <a href="tel:15028864581"><span class="btn btn-warning float-right" v-if="item.order_status === 2|| item.order_status === 3||item.order_status === 4">联系客服</span></a>
                                            <span class="btn btn-warning float-right" v-if="item.order_status === 1">付款</span>
                                            <span class="btn btn-warning float-right" data-toggle="modal" data-target="#myModal" v-if="item.order_status === 1" @click="delete1(item.order_id)">取消订单</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="text-center" id="my-null4">
                    <h5>您还没有此类账单</h5>
                    <h6>赶紧去购买商品吧</h6>
                    <a href="../goods/class1.html">
                        <div class="btn btn-success" style="display: inline-block">去购物</div>
                    </a>
                </div>
            </div>
            <div id="jiazai5" class="btn btn-primary btn-block">加载更多数据</div>
            <h6 id="jiazai15" class="text-center">已加载全部数据</h6>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="top: 280px;">
                <div class="modal-header" style="border: 0">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title text-center" id="myModalLabel">
                        提示
                    </h4>
                    <h4 class="modal-title text-center">确定取消订单吗？</h4>
                </div>
                <div class="modal-footer" style="border: 0">
                    <button type="button" class="btn" onclick="delete2()" style="background: #ff9933;color: #FFFFFF">
                        确定
                    </button>
                    <button type="button" class="btn" data-dismiss="modal" style="background: #ff9933;color: #FFFFFF">
                        取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</div>
<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/my-order.js"></script>
</body>
</html>