<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的足迹</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/jquery-weui1.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div id="footprint">
    <div class="vegetables">
        <ul class="goods-list" v-if="date.length>0">
            <li v-for="item in date">
                <a :href="'../goods/goods-details.html?id='+item.commodity_id">
                    <img :src="item.commodity_coverimg" alt="" class="goods-list-img">
                    <img v-if="item.commodity_category_id == '5096d338-6903-11e7-ae62-525400aa263a'|| item.commodity_category_id == '5e355b83-6903-11e7-ae62-525400aa263a'|| item.commodity_category_id == '64d7a287-6903-11e7-ae62-525400aa263a'|| item.commodity_category_id == '6b9f0aa8-6903-11e7-ae62-525400aa263a'" src="../image/48_01.png" alt="" style="position: absolute;top: 0;left: 0;width: .6rem;height: .3rem">
                    <div class="goods-list-name">
                        <img v-if="item.commodity_category_id == '16b82e4b-660c-11e7-ae62-525400aa263a'" src="../image/蔬菜.png" alt="">
                        <img v-if="item.commodity_category_id == 'e344984e-661f-11e7-ae62-525400aa263a'" src="../image/蛋类--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == '873d4baa-6622-11e7-ae62-525400aa263a'" src="../image/干货--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == '87cd6c67-66cc-11e7-ae62-525400aa263a'" src="../image/干调--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == '7c190a80-66cc-11e7-ae62-525400aa263a'" src="../image/粮油--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == 'f745c2b3-661f-11e7-ae62-525400aa263a'" src="../image/肉类--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == '25d6e5e1-660c-11e7-ae62-525400aa263a'" src="../image/水果%20%2048.png" alt="">
                        <img v-if="item.commodity_category_id == 'ed4fabc0-66d9-11e7-ae62-525400aa263a'" src="../image/母婴用品--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == '5096d338-6903-11e7-ae62-525400aa263a'" src="../image/蔬菜.png" alt="">
                        <img v-if="item.commodity_category_id == '5e355b83-6903-11e7-ae62-525400aa263a'" src="../image/干调--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == '64d7a287-6903-11e7-ae62-525400aa263a'" src="../image/粮油--48_01.png" alt="">
                        <img v-if="item.commodity_category_id == '6b9f0aa8-6903-11e7-ae62-525400aa263a'" src="../image/肉类--48_01.png" alt="">
                        <p v-if="item.activity_describe !== undefined && item.activity_type == 'miaosha'" style="font-size: 0.26rem;display: block;height: 40px">{{ item.activity_describe }}</p>
                        <p v-else>{{ item.commodity_name }}</p>
                    </div>
                </a>
                <h5>
                    <i v-if="item.activity_price == undefined" class="my-red">&yen;{{ item.commodity_imgprice }}</i>
                    <i v-if="item.activity_price !== undefined" class="my-red">&yen;{{ item.commodity_imgprice }}</i>
                    <div>已售{{ item.commodity_sales | num}}笔</div>
                    <div class="shopping-cart-img" @click="jia(item.activity_type,item.commodity_id,item.commodity_coverimg,event)">
                        <img class="shopping-cart-img-1" src="../image/购物车-红-48_01.png" alt="">
                    </div>
                </h5>
            </li>
        </ul>
        <p class="null" style="text-align: center;position: fixed;top: 30%;width: 100%;">
            暂无足迹
        </p>
        <div style="width: 100%;float: left;display: none" class="qubu">
            <h6 class="my-text" style="text-align: center;">已显示全部足迹</h6>
        </div>
        <a id="end" href="../shopping-cart/shopping-cart.html" class="" style="position: fixed;top: 5rem;left: .2rem;width: 36px;height: 36px;background-color: rgba(0,0,0,.3);border-radius: 50%;text-align: center;font-size: 20px;color: #FFFFFF">
            <img src="../image/shopping-cart.png" alt=""  style="width: 20px;height: 20px;margin-top: 7px">
            <div class="shopping-sum sum">&yen;0.00</div>
        </a>
    </div>
</div>
<script src="../js/jquery-2.1.4.js"></script>
<script src="../js/jquery-weui.js"></script>
<script src="../js/jquery.fly.min.js"></script>
<script src="../js/vue.min.js"></script>
<script src="../js/public.js"></script>
<script src="../js/footprint.js"></script>
<script>
    document.documentElement.style.fontSize=100*document.documentElement.clientWidth/375+'px';
    window.onresize=function(){
        document.documentElement.style.fontSize=100*document.documentElement.clientWidth/375+'px'
    };
</script>
</body>
</html>